:81 {
	@dynamic_port query XTransformPort=*

	route {
		vars.up_port = 3000

		if @dynamic_port {
			vars.up_port = {query.XTransformPort}
		}

		reverse_proxy localhost:{vars.up_port} {
			header_up Host {host}
			header_up X-Forwarded-For {remote_host}
			header_up X-Forwarded-Proto {scheme}
			header_up X-Real-IP {remote_host}
		}
	}
}