name: Pull Request Checks

on:
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  pr-checks:
    name: Checks
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - uses: oven-sh/setup-bun@v1

    - name: Install and Run checks
      run: |
        bun install --frozen-lockfile
        bunx tsc --noEmit
        bun test
        bun build